<ion-content class="bg-image">
<div class="bg-color">
    <h1 class="las-am">las.am</h1>

    <div class="container">
        <ion-input class="inputS" placeholder="USERNAME" [(ngModel)]="login.username"></ion-input>
        <ion-input class="inputS" type="password" placeholder="PASSWORD" [(ngModel)]="login.password"></ion-input>
        <ion-buttons>
            <button class="login-button" ion-button (click)="dialog()">LOG IN</button>
            <button class="buttonFacebook" ion-button icon-only>
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button class="buttonTwitter" ion-button icon-only>
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
        </ion-buttons>
    </div>

    <ion-buttons class="container-bottom">
        <button class="guestBtn" ion-button (click)="goToHome()">LOGIN AS A GUEST</button>
    </ion-buttons>
</div>
</ion-content>
