page-login {
  .las-am {
    position: absolute;
    bottom: 75vh;
    left: 30vw;
    color: white;
    font-size: 8vh;
    font-family: 'Open Sans';
  }
  .container {
    position: absolute;
    left: 5vw;
    width: 90vw;
    border-radius: 10px;
    bottom: 30vh;
    padding: 2%;
  }
  .container-bottom {
    position: absolute;
    bottom: 6vh;
    width: 90vw;
    left: 5vw;
    border-radius: 10px;
    padding: 2%;
  }
  .bg-color {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.36);
  }
  .bg-image {
    background-image: url("../assets/Login.png");
  }
  .inputS {
    height: 14vw;
    padding-top: 2vw;
    padding-left: 5vw;
    background: #ffffff;
    color: #1c1c1c;
    border-radius: 50px;
    margin-top: 20px;
  }
  .login-button {
    height: 14vw;
    width: 60%;
    background: #22c064;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 20px;
  }
  .buttonFacebook {
    height: 14vw;
    width: 14vw;
    position: absolute;
    right: 20%;
    background: #3b5998;
    border-radius: 80%;
    margin-top: 20px;
    margin-left: 2%;
  }
  .buttonTwitter {
    height: 14vw;
    width: 14vw;
    position: fixed;
    right: 0%;
    background: #55acee;
    border-radius: 80%;
    margin-top: 20px;
    margin-left: 2%;
  }
  .guestBtn {
    height: 14vw;
    outline-color: white;
    width: 100%;
    border: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
  }
  @media (min-height: 60vh) and (max-height: 70vh) {
    .container {
      top: 0%;
    }
  }
}
