page-view-book {
  .image {
    width: 40%;
  }
  #title-author {
    position: absolute;
    top: 5%;
    left: 45%;
  }
  .title {
  }
  .author {
  }
  .year {
  }
  .price {
    position: relative;
    left: 75%;
  }

}
