<ion-header>

    <ion-navbar>
        <ion-title>{{book.title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <img class="image" src="{{book.image}}"/>
        <div id="title-author">
            <h1 class="title">{{book.title}}</h1>
            <p class="author">{{book.author}}</p>
            <p class="year">{{book.year}}</p>
        </div>
        <h1 class="price">{{book.price}}</h1>
    </div>
    <div>
        <p>{{book.description}}</p>
    </div>
</ion-content>
