<ion-header>

    <ion-navbar>
        <ion-title>Books</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <p>Please choose a book to view:</p>

    <ion-list>
        <ion-item [hidden]="isIOS">
            <button class="openFile" ion-button icon-only (click)="openFile()">
                <ion-icon name="folder-open"></ion-icon>
            </button>
        </ion-item>
        <ion-item [hidden]="isOnline" *ngFor="let _saved of saved" (tap)="show(_saved)">
            <ion-thumbnail item-start>
                <img class="image" src="{{_saved.cover}}"/>
            </ion-thumbnail>
            <h1>{{_saved.lable}}</h1>
        </ion-item>
        <ion-item *ngFor="let book of books" (click)="download(book)">
            <ion-thumbnail item-start>
                <img class="image" src="{{book.image}}"/>
            </ion-thumbnail>
            <div id="title-author">
                <h1 class="title">{{book.title}}</h1>
                <p class="author">{{book.author}}</p>
                <p class="year">{{book.year}}</p>
            </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>
