page-home {
  .openFile {
    width: 100%;
    padding-left: 5%;
    background: #ffffff;
    color: #1c1c1c;
    border-radius: 50px;
    margin-top: 20px;
  }
  .image {
    width: 40%;
  }
  #title-author {
  }
  .title {
  }
  .author {
  }
  .year {
  }

}
