<ion-tabs>
    <ion-tab [root]="homeRoot"  tabIcon="home"></ion-tab>
    <ion-tab [root]="booksRoot" tabIcon="book"></ion-tab>
    <ion-tab [root]="profileRoot" tabIcon="person"></ion-tab>
</ion-tabs>
