<ion-header>
    <ion-navbar transparent [color]="toolbarColor" [hidden]="!showToolbars">
        <ion-buttons start>
            <button ion-button icon-only (tap)="toc($event)">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pageTitle}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="settings($event)">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'backgroundColor': bgColor}" no-bounce>
    <div id="touchlayer" (tap)="toggleToolbars()" (swipe)="changePage($event)"></div>
    <div id="book"></div>
</ion-content>

<ion-footer>
    <ion-toolbar transparent [color]="toolbarColor" [hidden]="!showToolbars">
        <ion-buttons start>
            <button ion-button icon-only (tap)="prev()">
                <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-range
                min="1"
                max="{{+value.total_pages}}"
                [(ngModel)]="slider"
                (ionChange)="watchSlider()"
                snaps="true">
        </ion-range>
        <ion-buttons end>
            <button ion-button icon-only (tap)="next()">
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
