<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title class="title">Profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="profile">
        <img class="background-image" src="{{profile.picture}}"/>
        <img class="avatar" src="{{profile.picture}}"/>
        <h1 class="name"><span class="first-name">{{profile.user_first_name}}</span> <span class="last-name">{{profile.user_last_name}}</span>
        </h1>
    </div>
    <ion-list class="list">
        <ion-item>
                <h1 class="prof-text">LANGUAGE <span class="to-right"> > </span></h1>
        </ion-item>
        <ion-item (tap)="log_out()">
            <h1 class="prof-text">LOG OUT</h1>
        </ion-item>
    </ion-list>
</ion-content>
