page-profile {
  .title {
    position: absolute;
    top: 3vh;
    left: 40vw;
  }
  .button {
    width: 80%;
    left: 10%;
    border-radius: 50px;
    background: #22c064;
    color: #ffffff;
  }
  .background-image {
    //background-image: url('../img/background/image.jpg');
    width: 100vw;
    height: 100vw;

    -webkit-filter: blur(10px);
    //-moz-filter: blur(10px);
    //-o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .name {
    color: #ffffff;
  }
  .first-name {
    position: absolute;
    top: 50vw;
    left: auto;
    right: 51vw;
  }
  .last-name {
    position: absolute;
    top: 50vw;
    left: 51vw;
    right: auto;
  }
  .avatar {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 35%;
    top: 10vh;
    border: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 60px;
  }
  .list {
    position: absolute;
    width: 100%;
    top: 80vw;
    background-color: rgba(0, 0, 0, 0);
  }
  .to-right {
    position: relative;
    left: 55vw;
    font-size: 4vh;
  }
  .prof-text {
    margin: 3vh;
    font-size: 3vh;
  }
}
